
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Sayfa Bulunamadı!</title>
    <link rel="stylesheet" type="text/css" href="~/Computer404/assets/css/style.css" />
    <link href="~/Computer404/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="~/Computer404/assets/images/404.svg" />
        <br />
        <h3>
            404 Hatası Aradığınız Sayfa Mevcut Değil.!
            <br /> Aşağıdaki Butona Basarak Ana Sayfaya Dönebilirsiniz.
        </h3>
        <br />
        <a class="buton" href="~/Main/Index">Ana Sayfaya Dön</a>
    </div>
</body>

</html>
