@model UserLoginDto
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Traversal Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Login09/css/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Traversal Login</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/Login09/images/bg.jpg);"></div>
                        <h3 class="text-center mb-0">Hoşgeldiniz</h3>
                        <p class="text-center">Bilgilerinizi Girerek Giriş Yapabilirsiniz.</p>
                        <form asp-action="Login" asp-controller="Auth" asp-area="" method="post" class="login-form">
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Parola" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Giriş Yap</button>
                            </div>
                        </form>
                        <div class="w-100 text-center mt-4 text">
                            <p class="mb-0">Hesabın Yok mu?</p>
                            <a href="~/Auth/Register">Kayıt Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Login09/js/jquery.min.js"></script>
    <script src="~/Login09/js/popper.js"></script>
    <script src="~/Login09/js/bootstrap.min.js"></script>
    <script src="~/Login09/js/main.js"></script>

</body>
</html>

