@model VisitorListDto
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div style="padding:20px">
    <h1>Ziyaretçi Düzenle</h1>
    <div>
        <form method="post">
            <input type="hidden" asp-for="VisitorId" class="form-control" />
            <span>İsim</span>
            <input type="text" asp-for="Name" class="form-control" />
            <br />
            <span>Soyisim</span>
            <input type="text" asp-for="Surname" class="form-control" />
            <br />
            <span>Şehir</span>
            <input type="text" asp-for="City" class="form-control" />
            <br />
            <span>Ülke</span>
            <input type="text" asp-for="Country" class="form-control" />
            <br />
            <span>Email</span>
            <input type="text" asp-for="Mail" class="form-control" />
            <br />
            <input type="submit" class="btn btn-primary" value="Değişiklikleri Kaydet" />
        </form>
    </div>
</div>


