
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">
<partial name="~/Views/UILayoutPartials/_Link.cshtml" />
<body>
    <!--header-->
    <partial name="~/Views/UILayoutPartials/_Header.cshtml" />
    <!-- //header -->
    <!--banner-slider-->
    @RenderBody()
    <!--/w3l-footer-29-main-->
    <partial name="~/Views/UILayoutPartials/_Footer.cshtml" />
    <partial name="~/Views/UILayoutPartials/_Script.cshtml" />
</body>
</html>