
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">
<partial name="~/Views/UILayoutPartials/_Link.cshtml" />
<body>
    <partial name="~/Views/UILayoutPartials/_Header.cshtml" />
    @RenderBody()
    <partial name="~/Views/UILayoutPartials/_Footer.cshtml" />
    <partial name="~/Views/UILayoutPartials/_Script.cshtml" />
</body>
</html>